<form action="/static/php/send-email.php" method="post">
	<p class="info">You can use this form to ask questions, say hi or anything you like. If it's a project you'd like to talk about, don't forget to describe it as best as possible. Please allow up to 2 business days for a reply.</p>
	<ol>
		<li>
			<label for="name">Name</label>
			<span class="input-field"><span class="icon required">s</span> <input type="text" name="name"></span>
		</li>
		<li>
			<label for="email">Email</label>
			<span class="input-field"><span class="icon required">s</span> <input type="text" name="email"></span>
		</li>
		<li class="subject">
			<label for="email">Subject</label>
			<span class="input-field"><span class="icon required">s</span> <input type="text" name="subject"></span>
		</li>
		<li class="message">
			<span class="input-field"><span class="icon required">s</span><textarea name="message" rows="10" cols="50" placeholder="Please take the time to provide as many details about the project or your company as possible, such as objectives, audience, message, look and feel, functionality, examples..."></textarea></span>
		</li>
	</ol>
	<p class="send-email">
		<input type="submit" value="Send Email" class="btn">
	</p>
</form>