<!doctype html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<meta charset="utf-8">
		<title>Sonia Soares | Web Design &amp; Development</title>
		{% block css %}
			<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
		{% endblock css %}
		{% block js_head %}
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		{% endblock js_head %}
	</head>
	<body class="{% block body_class %}{% endblock body_class %}">
		{% block body %}
		{% endblock body %}
		{% block js_footer %}
			<script src="{{ url_for('static', filename='js/raphael-min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main-ck.js') }}"></script>
		{% endblock js_footer %}
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-2228457-6']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
		</script>
	</body>
</html>