{% extends "base.html" %}

{% block body_class %}contact{% endblock body_class %}

{% block body %}
	{% include '_header.html' %}

	<div class="site-content">
		<div class="container">
			<header class="section-heading">
				<div id="contact-icon" class="header-img"></div>
				<h2>- Get in Touch -</h2>
			</header>

			{% block content %}
				{% include "_contact-form.html" %}
			{% endblock content %}
		</div>
	</div>
	{% include '_footer.html' %}
{% endblock body %}
{% block js_footer %}
	{% assets "contact_js" %}
		<script src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock js_footer %}