{% extends "base.html" %}

{% block body_class %}contact{% endblock body_class %}

{% block body %}
	{% include '_header.html' %}

	<div class="site-content">
		<div class="container">
			<div class="section-heading">
				<div id="contact" class="header-img">
					{% include 'svg/contact.svg' %}
				</div>
				<h2>- Get in Touch -</h2>
			</div>

			{% block content %}
				{% include "_contact-form.html" %}
			{% endblock content %}
		</div>
	</div>
	{% include '_footer.html' %}
{% endblock body %}
{% block js_footer %}
	{{ super() }}
	<script src="{{ url_for('static', filename='js/contact-ck.js') }}"></script>
{% endblock js_footer %}