{% extends "base.html" %}

{% block body_class %}home{% endblock body_class %}

{% block body %}
	{% include '_header.html' %}
	<div class="intro">
		<div class="container">
				<p class="intro-text">{ <span>Hi, there! I'm Sonia.</span> }</p>
				<div id="intro-nav">{% include '_nav.html' %}</div>
		</div>
		<div class="scroll-down"><span class="symbol">...</span></div>
	</div>

	<div class="projects" id="projects">
		<div class="container">
			<header class="section-heading">
				<div id="projects-icon" class="header-img"></div>
				<h2>- Projects -</h2>
			</header>
			{% for page in pages if page.path.startswith('projects') %}<article class="project">
					<div class="project-img"><img src="{{ url_for('static', filename='img/projects/%s' % page.listing_img) }}" alt=""></div>
					<h3>{{ page.title }}</h3>
					<div class="project-info">
						<div class="project-description">{{ page.html|safe }}</div>
						<p class="project-links">
							{% if page.link is none %}
							<em>In Development</em>
							{% else %}
							<a href="{{ page.link }}" class="btn" target="_blank">View Live</a>
							{% endif %}
						</p>
					</div>
				</article>{% endfor %}
		</div>
	</div>

	<div class="about" id="about">
		<div class="container">
			<header class="section-heading">
				<div id="about-icon" class="header-img"></div>
				<h2>- About -</h2>
			</header>
			<div class="text">
				<p>I started in graphic design but I like to build things with code a little bit more. Most of my experience is in frontend development (HTML5, CSS3, JavaScript) and I have basic knowledge of PHP and Python. This means I can turn your ideas into pretty fancy interactive things.</p>

				<h3>Work</h3>

				<p>You can see some <a href="" class="projects-link">links to projects I've worked on</a>, either in just Design or Design and Development. I'll be posting more soon. Meanwhile, If you'd like to see more you can ask me.</p>

				<h3>Contact</h3>

				<p>I'm based in Porto, Portugal and I'm available to work on small to medium size projects, from nearby or far, far away. If you'd like to work with me, you can <a href ="{{ url_for('contact') }}">inquiry me about a project</a>. I'll be happy to answer your questions.</p>
			</div>
		</div>
	</div>

	{% include '_footer.html' %}
{% endblock body %}
{% block js_footer %}
	{{ super() }}
	<script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.leanModal.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.fittext-ck.js') }}"></script>
	<script src="{{ url_for('static', filename='js/home-ck.js') }}"></script>
{% endblock js_footer %}