{% extends "base.html" %}

{% block body_class %}notes{% endblock body_class %}

{% block body %}
	{% include '_header.html' %}

	<div class="site-content">
		<div class="container">
			<div class="section-heading">
				<div id="notes" class="header-img">
					{% include 'svg/notes.svg' %}
				</div>
				<h2>- Notes -</h2>
			</div>

			{% block content %}
				{% for page in pages if page.path.startswith('notes') %}
				<article>
						<h3><a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a></h3>
						<div class="note-description">{{ page.description }}</div>
					</div>
				</article>
				{% endfor %}
			{% endblock content %}
		</div>
	</div>

	{% include '_footer.html' %}
{% endblock body %}
{% block js_footer %}
	{{ super() }}
	<script src="{{ url_for('static', filename='js/notes-ck.js') }}"></script>
{% endblock js_footer %}