{% extends "base.html" %}

{% block body_class %}projects{% endblock body_class %}

{% block body %}
	{% include '_header.html' %}

	<div class="site-content">
		<div class="container">
			<div class="section-heading">
				<div id="projects" class="header-img">
					{% include 'svg/projects.svg' %}
				</div>
				<h2>- Projects -</h2>
			</div>

			{% block content %}
				{% for page in pages if page.path.startswith('projects') %}
				<article>
					<div class="project-img">
						<img src="{{ url_for('static', filename='img/projects/') }}{{ page.listing_img }}" alt="">
					</div>

					<div class="project-info">
						<h3>{{ page.title }}</h3>
						<div class="project-description">{{ page.description }}</div>
						<p class="project-links"><a href="{{ url_for("page", path=page.path) }}">Know More</a> <a href="{{ page.link }}">View Live</a></p>
					</div>
				</article>
				{% endfor %}
			{% endblock content %}
		</div>
	</div>

	{% include '_footer.html' %}
{% endblock body %}
{% block js_footer %}
	{{ super() }}
	<script src="{{ url_for('static', filename='js/projects-ck.js') }}"></script>
{% endblock js_footer %}