{% extends "base.html" %}

{% block body_class %}project{% endblock body_class %}

{% block body %}
	{% include '_header.html' %}

	<div class="site-content">
		<div class="container">
			{% block content %}
				<h2>{{ page.title }}</h2>

				<div class="project-img">
					<img src="{{ url_for('static', filename='img/projects/') }}{{ page.listing_img }}" alt="">
				</div>

				{{ page.html|safe }}

				<p class="project-links"><a href="{{ url_for("page", path=page.path) }}">Know More</a> <a href="{{ page.link }}">View Live</a></p>
			{% endblock content %}
		</div>
	</div>

	{% include '_footer.html' %}
{% endblock body %}